@layer themes {
  @media (prefers-color-scheme: dark) {
    .t-main-theme,
    .t-main-theme--dark {
      /* dark */
      --t-sys-color-blanket: var(--t-sys-color-blanket-dark);
      --t-sys-color-blanket-selected: var(--t-sys-color-blanket-selected-dark);
      --t-sys-color-blanket-danger: var(--t-sys-color-blanket-danger-dark);
    }

    .t-main-theme--light {
      /* light */
      --t-sys-color-blanket: var(--t-sys-color-blanket-light);
      --t-sys-color-blanket-selected: var(--t-sys-color-blanket-selected-light);
      --t-sys-color-blanket-danger: var(--t-sys-color-blanket-danger-light);
    }
  }
}
