@layer themes {
  .t-main-theme {
    --t-ref-border-radius: 4px;
    --t-ref-border-radius-50: 2px;
    --t-ref-border-radius-100: 4px;
    --t-ref-border-radius-200: 8px;
    --t-ref-border-radius-300: 12px;
    --t-ref-border-radius-400: 16px;
    --t-ref-border-radius-circle: 32032px;
  }
}
