@layer themes {
  @media (prefers-color-scheme: dark) {
    .t-main-theme,
    .t-main-theme--dark {
      /* dark */
      --t-sys-elevation-shadow-overflow: var(--t-sys-elevation-shadow-overflow-dark);
      --t-sys-elevation-shadow-overflow-perimeter: var(--t-sys-elevation-shadow-overflow-perimeter-dark);
      --t-sys-elevation-shadow-overflow-spread: var(--t-sys-elevation-shadow-overflow-spread-dark);
      --t-sys-elevation-shadow-overlay: var(--t-sys-elevation-shadow-overlay-dark);
      --t-sys-elevation-shadow-raised: var(--t-sys-elevation-shadow-raised-dark);
    }

    .t-main-theme--light {
      /* light */
      --t-sys-elevation-shadow-overflow: var(--t-sys-elevation-shadow-overflow-light);
      --t-sys-elevation-shadow-overflow-perimeter: var(--t-sys-elevation-shadow-overflow-perimeter-light);
      --t-sys-elevation-shadow-overflow-spread: var(--t-sys-elevation-shadow-overflow-spread-light);
      --t-sys-elevation-shadow-overlay: var(--t-sys-elevation-shadow-overlay-light);
      --t-sys-elevation-shadow-raised: var(--t-sys-elevation-shadow-raised-light);
    }
  }
}
