@layer components.defaults {
  .t-avatar--size-medium {
    --t-comp-avatar-size-container: calc(var(--t-ref-space-100) * 4);
    --t-comp-avatar-size-border-radius: 3px;
    --t-comp-avatar-size-icon: 14px;
    --t-comp-avatar-size-icon-offset: 0;
    --t-comp-avatar-size-icon-position: 0;
  }
}
