@layer themes {
  .t-main-theme {
    /* Lime */
    --t-ref-color-lime-100: #eefbda;
    --t-ref-color-lime-200: #d3f1a7;
    --t-ref-color-lime-300: #b3df72;
    --t-ref-color-lime-400: #94c748;
    --t-ref-color-lime-500: #82b536;
    --t-ref-color-lime-600: #6a9a23;
    --t-ref-color-lime-700: #5b7f24;
    --t-ref-color-lime-800: #4c6b1f;
    --t-ref-color-lime-900: #37471f;
    --t-ref-color-lime-1000: #2a3818;

    /* Red */
    --t-ref-color-red-100: #ffedeb;
    --t-ref-color-red-200: #ffd2cc;
    --t-ref-color-red-300: #ff9c8f;
    --t-ref-color-red-400: #f87462;
    --t-ref-color-red-500: #ef5c48;
    --t-ref-color-red-600: #e34935;
    --t-ref-color-red-700: #ca3521;
    --t-ref-color-red-800: #ae2a19;
    --t-ref-color-red-900: #601e16;
    --t-ref-color-red-1000: #4f1c16;

    /* Orange */
    --t-ref-color-orange-100: #fff4e5;
    --t-ref-color-orange-200: #ffe2bd;
    --t-ref-color-orange-300: #fec57b;
    --t-ref-color-orange-400: #faa53d;
    --t-ref-color-orange-500: #f18d13;
    --t-ref-color-orange-600: #d97008;
    --t-ref-color-orange-700: #b65c02;
    --t-ref-color-orange-800: #974f0c;
    --t-ref-color-orange-900: #5f3811;
    --t-ref-color-orange-1000: #4a2b0f;

    /* Yellow */
    --t-ref-color-yellow-100: #fff7d6;
    --t-ref-color-yellow-200: #f8e6a0;
    --t-ref-color-yellow-300: #f5cd47;
    --t-ref-color-yellow-400: #e2b203;
    --t-ref-color-yellow-500: #cf9f02;
    --t-ref-color-yellow-600: #b38600;
    --t-ref-color-yellow-700: #946f00;
    --t-ref-color-yellow-800: #7f5f01;
    --t-ref-color-yellow-900: #533f04;
    --t-ref-color-yellow-1000: #3f3102;

    /* Green */
    --t-ref-color-green-100: #dffcf0;
    --t-ref-color-green-200: #baf3db;
    --t-ref-color-green-300: #7ee2b8;
    --t-ref-color-green-400: #4bce97;
    --t-ref-color-green-500: #2abb7f;
    --t-ref-color-green-600: #22a06b;
    --t-ref-color-green-700: #1f845a;
    --t-ref-color-green-800: #216e4e;
    --t-ref-color-green-900: #164b35;
    --t-ref-color-green-1000: #143c2b;

    /* Teal */
    --t-ref-color-teal-100: #e3fafc;
    --t-ref-color-teal-200: #c1f0f5;
    --t-ref-color-teal-300: #8bdbe5;
    --t-ref-color-teal-400: #60c6d2;
    --t-ref-color-teal-500: #37b4c3;
    --t-ref-color-teal-600: #1d9aaa;
    --t-ref-color-teal-700: #1d7f8c;
    --t-ref-color-teal-800: #206b74;
    --t-ref-color-teal-900: #1d474c;
    --t-ref-color-teal-1000: #15373b;

    /* Blue */
    --t-ref-color-blue-100: #e9f2ff;
    --t-ref-color-blue-200: #cce0ff;
    --t-ref-color-blue-300: #85b8ff;
    --t-ref-color-blue-400: #579dff;
    --t-ref-color-blue-500: #388bff;
    --t-ref-color-blue-600: #1d7afc;
    --t-ref-color-blue-700: #0c66e4;
    --t-ref-color-blue-800: #0055cc;
    --t-ref-color-blue-900: #09326c;
    --t-ref-color-blue-1000: #092957;

    /* Purple */
    --t-ref-color-purple-100: #f3f0ff;
    --t-ref-color-purple-200: #dfd8fd;
    --t-ref-color-purple-300: #b8acf6;
    --t-ref-color-purple-400: #9f8fef;
    --t-ref-color-purple-500: #8f7ee7;
    --t-ref-color-purple-600: #8270db;
    --t-ref-color-purple-700: #6e5dc6;
    --t-ref-color-purple-800: #5e4db2;
    --t-ref-color-purple-900: #352c63;
    --t-ref-color-purple-1000: #2b2451;

    /* Magenta */
    --t-ref-color-magenta-100: #ffecf8;
    --t-ref-color-magenta-200: #fdd0ec;
    --t-ref-color-magenta-300: #f797d2;
    --t-ref-color-magenta-400: #e774bb;
    --t-ref-color-magenta-500: #da62ac;
    --t-ref-color-magenta-600: #cd519d;
    --t-ref-color-magenta-700: #ae4787;
    --t-ref-color-magenta-800: #943d73;
    --t-ref-color-magenta-900: #50253f;
    --t-ref-color-magenta-1000: #421f34;

    /* Light mode neutrals */

    /* Solid */
    --t-ref-color-neutral-0: #ffffff;
    --t-ref-color-neutral-100: #f7f8f9;
    --t-ref-color-neutral-200: #f1f2f4;
    --t-ref-color-neutral-300: #dcdfe4;
    --t-ref-color-neutral-400: #b3b9c4;
    --t-ref-color-neutral-500: #8590a2;
    --t-ref-color-neutral-600: #758195;
    --t-ref-color-neutral-700: #626f86;
    --t-ref-color-neutral-800: #44546f;
    --t-ref-color-neutral-900: #2c3e5d;
    --t-ref-color-neutral-1000: #172b4d;
    --t-ref-color-neutral-1100: #091e42;

    /* Solid Alpha */
    --t-ref-color-neutral-100-a: rgb(9 30 66 / 3%);
    --t-ref-color-neutral-200-a: rgb(9 30 66 / 6%);
    --t-ref-color-neutral-300-a: rgb(9 30 66 / 14%);
    --t-ref-color-neutral-400-a: rgb(9 30 66 / 31%);
    --t-ref-color-neutral-500-a: rgb(9 30 66 / 49%);

    /* Dark mode neutrals */

    /* Solid */

    --t-ref-color-dark-neutral-0-100: #101214;
    --t-ref-color-dark-neutral-0: #161a1d;
    --t-ref-color-dark-neutral-100: #1d2125;
    --t-ref-color-dark-neutral-200: #22272b;
    --t-ref-color-dark-neutral-250: #282e33;
    --t-ref-color-dark-neutral-300: #2c333a;
    --t-ref-color-dark-neutral-350: #38414a;
    --t-ref-color-dark-neutral-400: #454f59;
    --t-ref-color-dark-neutral-500: #596773;
    --t-ref-color-dark-neutral-600: #738496;
    --t-ref-color-dark-neutral-700: #8c9bab;
    --t-ref-color-dark-neutral-800: #9fadbc;
    --t-ref-color-dark-neutral-900: #b6c2cf;
    --t-ref-color-dark-neutral-1000: #c7d1db;
    --t-ref-color-dark-neutral-1100: #dee4ea;

    /* Solid Alpha */
    --t-ref-color-dark-neutral-0-100-a: rgb(3 4 4 / 26%);
    --t-ref-color-dark-neutral-100-a: rgb(188 214 240 / 4%);
    --t-ref-color-dark-neutral-200-a: rgb(161 189 217 / 8%);
    --t-ref-color-dark-neutral-250-a: rgb(200 225 249 / 10%);
    --t-ref-color-dark-neutral-300-a: rgb(166 197 226 / 16%);
    --t-ref-color-dark-neutral-350-a: rgb(195 222 254 / 20%);
    --t-ref-color-dark-neutral-400-a: rgb(191 219 248 / 28%);
    --t-ref-color-dark-neutral-500-a: rgb(155 180 202 / 50%);
  }
}
