@layer themes {
  @media (prefers-color-scheme: light) {
    .t-main-theme,
    .t-main-theme--light {
      /* light */
      --t-sys-color-link: var(--t-sys-color-link-light);
      --t-sys-color-link-pressed: var(--t-sys-color-link-pressed-light);
    }

    .t-main-theme--dark {
      /* dark */
      --t-sys-color-link: var(--t-sys-color-link-dark);
      --t-sys-color-link-pressed: var(--t-sys-color-link-pressed-dark);
    }
  }
}
