@layer themes {
  .t-main-theme {
    /* light */
    --t-sys-elevation-surface-light: var(--t-ref-color-neutral-0);
    --t-sys-elevation-surface-hovered-light: var(--t-ref-color-neutral-200);
    --t-sys-elevation-surface-pressed-light: var(--t-ref-color-neutral-300);
    --t-sys-elevation-surface-overlay-light: var(--t-ref-color-neutral-0);
    --t-sys-elevation-surface-overlay-hovered-light: var(--t-ref-color-neutral-200);
    --t-sys-elevation-surface-overlay-pressed-light: var(--t-ref-color-neutral-300);
    --t-sys-elevation-surface-raised-light: var(--t-ref-color-neutral-0);
    --t-sys-elevation-surface-raised-hovered-light: var(--t-ref-color-neutral-200);
    --t-sys-elevation-surface-raised-pressed-light: var(--t-ref-color-neutral-300);
    --t-sys-elevation-surface-sunken-light: var(--t-ref-color-neutral-100);
  }
}
