@layer themes {
  [data-color-mode="light"] {
    --t-sys-color-text: var(--t-ref-palette-neutral-1000, #172b4d);
    --t-sys-color-text-accent-lime: var(--t-ref-palette-lime-800, #4c6b1f);
    --t-sys-color-text-accent-lime-bolder: var(--t-ref-palette-lime-900, #37471f);
    --t-sys-color-text-accent-red: var(--t-ref-palette-red-800, #ae2a19);
    --t-sys-color-text-accent-red-bolder: var(--t-ref-palette-red-900, #601e16);
    --t-sys-color-text-accent-orange: var(--t-ref-palette-orange-800, #974f0c);
    --t-sys-color-text-accent-orange-bolder: var(--t-ref-palette-orange-900, #5f3811);
    --t-sys-color-text-accent-yellow: var(--t-ref-palette-yellow-800, #7f5f01);
    --t-sys-color-text-accent-yellow-bolder: var(--t-ref-palette-yellow-900, #533f04);
    --t-sys-color-text-accent-green: var(--t-ref-palette-green-800, #216e4e);
    --t-sys-color-text-accent-green-bolder: var(--t-ref-palette-green-900, #164b35);
    --t-sys-color-text-accent-teal: var(--t-ref-palette-teal-800, #206b74);
    --t-sys-color-text-accent-teal-bolder: var(--t-ref-palette-teal-900, #1d474c);
    --t-sys-color-text-accent-blue: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-text-accent-blue-bolder: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-text-accent-purple: var(--t-ref-palette-purple-800, #5e4db2);
    --t-sys-color-text-accent-purple-bolder: var(--t-ref-palette-purple-900, #352c63);
    --t-sys-color-text-accent-magenta: var(--t-ref-palette-magenta-800, #943d73);
    --t-sys-color-text-accent-magenta-bolder: var(--t-ref-palette-magenta-900, #50253f);
    --t-sys-color-text-accent-gray: var(--t-ref-palette-neutral-800, #44546f);
    --t-sys-color-text-accent-gray-bolder: var(--t-ref-palette-neutral-1100, #091e42);
    --t-sys-color-text-disabled: var(--t-ref-palette-neutral-400-a, rgb(9 30 66 / 31%));
    --t-sys-color-text-inverse: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-color-text-selected: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-text-brand: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-text-danger: var(--t-ref-palette-red-800, #ae2a19);
    --t-sys-color-text-warning: var(--t-ref-palette-orange-800, #974f0c);
    --t-sys-color-text-warning-inverse: var(--t-ref-palette-orange-800, #974f0c);
    --t-sys-color-text-success: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-text-discovery: var(--t-ref-palette-purple-800, #5e4db2);
    --t-sys-color-text-information: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-text-subtlest: var(--t-ref-palette-neutral-700, #626f86);
    --t-sys-color-text-subtle: var(--t-ref-palette-neutral-800, #44546f);
    --t-sys-color-link: var(--t-ref-palette-lime-700, #5b7f24);
    --t-sys-color-link-pressed: var(--t-ref-palette-lime-800, #4c6b1f);
    --t-sys-color-icon: var(--t-ref-palette-neutral-800, #44546f);
    --t-sys-color-icon-accent-lime: var(--t-ref-palette-lime-600, #6a9a23);
    --t-sys-color-icon-accent-red: var(--t-ref-palette-red-600, #e34935);
    --t-sys-color-icon-accent-orange: var(--t-ref-palette-orange-600, #d97008);
    --t-sys-color-icon-accent-yellow: var(--t-ref-palette-yellow-600, #b38600);
    --t-sys-color-icon-accent-green: var(--t-ref-palette-green-600, #22a06b);
    --t-sys-color-icon-accent-teal: var(--t-ref-palette-teal-600, #1d9aaa);
    --t-sys-color-icon-accent-blue: var(--t-ref-palette-blue-600, #1d7afc);
    --t-sys-color-icon-accent-purple: var(--t-ref-palette-purple-600, #8270db);
    --t-sys-color-icon-accent-magenta: var(--t-ref-palette-magenta-600, #cd519d);
    --t-sys-color-icon-accent-gray: var(--t-ref-palette-neutral-600, #758195);
    --t-sys-color-icon-disabled: var(--t-ref-palette-neutral-400-a, rgb(9 30 66 / 31%));
    --t-sys-color-icon-inverse: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-color-icon-selected: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-icon-brand: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-icon-danger: var(--t-ref-palette-red-600, #e34935);
    --t-sys-color-icon-warning: var(--t-ref-palette-orange-600, #d97008);
    --t-sys-color-icon-warning-inverse: var(--t-ref-palette-neutral-1000, #172b4d);
    --t-sys-color-icon-success: var(--t-ref-palette-blue-600, #1d7afc);
    --t-sys-color-icon-discovery: var(--t-ref-palette-blue-600, #1d7afc);
    --t-sys-color-icon-information: var(--t-ref-palette-blue-600, #1d7afc);
    --t-sys-color-icon-subtle: var(--t-ref-palette-neutral-700, #626f86);
    --t-sys-color-border: var(--t-ref-palette-neutral-300-a, rgb(9 30 66 / 14%));
    --t-sys-color-border-accent-lime: var(--t-ref-palette-lime-600, #6a9a23);
    --t-sys-color-border-accent-red: var(--t-ref-palette-red-600, #e34935);
    --t-sys-color-border-accent-orange: var(--t-ref-palette-orange-600, #d97008);
    --t-sys-color-border-accent-yellow: var(--t-ref-palette-yellow-600, #b38600);
    --t-sys-color-border-accent-green: var(--t-ref-palette-green-600, #22a06b);
    --t-sys-color-border-accent-teal: var(--t-ref-palette-teal-600, #1d9aaa);
    --t-sys-color-border-accent-blue: var(--t-ref-palette-blue-600, #1d7afc);
    --t-sys-color-border-accent-purple: var(--t-ref-palette-purple-600, #8270db);
    --t-sys-color-border-accent-magenta: var(--t-ref-palette-magenta-600, #cd519d);
    --t-sys-color-border-accent-gray: var(--t-ref-palette-neutral-600, #758195);
    --t-sys-color-border-disabled: var(--t-ref-palette-neutral-200-a, rgb(9 30 66 / 6%));
    --t-sys-color-border-focused: var(--t-ref-palette-blue-500, #388bff);
    --t-sys-color-border-input: var(--t-ref-palette-neutral-300-a, rgb(9 30 66 / 14%));
    --t-sys-color-border-inverse: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-color-border-selected: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-border-brand: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-border-danger: var(--t-ref-palette-red-600, #e34935);
    --t-sys-color-border-warning: var(--t-ref-palette-yellow-600, #b38600);
    --t-sys-color-border-success: var(--t-ref-palette-green-600, #22a06b);
    --t-sys-color-border-discovery: var(--t-ref-palette-purple-600, #8270db);
    --t-sys-color-border-information: var(--t-ref-palette-purple-600, #8270db);
    --t-sys-color-border-bold: var(--t-ref-palette-purple-600, #8270db);
    --t-sys-color-background-accent-lime-subtlest: var(--t-ref-palette-lime-100, #eefbda);
    --t-sys-color-background-accent-lime-subtler: var(--t-ref-palette-lime-200, #d3f1a7);
    --t-sys-color-background-accent-lime-subtle: var(--t-ref-palette-lime-400, #94c748);
    --t-sys-color-background-accent-lime-bolder: var(--t-ref-palette-lime-700, #5b7f24);
    --t-sys-color-background-accent-red-subtlest: var(--t-ref-palette-red-100, #ffedeb);
    --t-sys-color-background-accent-red-subtler: var(--t-ref-palette-red-200, #ffd2cc);
    --t-sys-color-background-accent-red-subtle: var(--t-ref-palette-red-400, #f87462);
    --t-sys-color-background-accent-red-bolder: var(--t-ref-palette-red-700, #ca3521);
    --t-sys-color-background-accent-orange-subtlest: var(--t-ref-palette-orange-100, #fff4e5);
    --t-sys-color-background-accent-orange-subtler: var(--t-ref-palette-orange-200, #ffe2bd);
    --t-sys-color-background-accent-orange-subtle: var(--t-ref-palette-orange-400, #faa53d);
    --t-sys-color-background-accent-orange-bolder: var(--t-ref-palette-orange-700, #b65c02);
    --t-sys-color-background-accent-yellow-subtlest: var(--t-ref-palette-yellow-100, #fff7d6);
    --t-sys-color-background-accent-yellow-subtler: var(--t-ref-palette-yellow-200, #f8e6a0);
    --t-sys-color-background-accent-yellow-subtle: var(--t-ref-palette-yellow-400, #e2b203);
    --t-sys-color-background-accent-yellow-bolder: var(--t-ref-palette-yellow-700, #946f00);
    --t-sys-color-background-accent-green-subtlest: var(--t-ref-palette-green-100, #dffcf0);
    --t-sys-color-background-accent-green-subtler: var(--t-ref-palette-green-200, #baf3db);
    --t-sys-color-background-accent-green-subtle: var(--t-ref-palette-green-400, #4bce97);
    --t-sys-color-background-accent-green-bolder: var(--t-ref-palette-green-700, #1f845a);
    --t-sys-color-background-accent-teal-subtlest: var(--t-ref-palette-teal-100, #e3fafc);
    --t-sys-color-background-accent-teal-subtler: var(--t-ref-palette-teal-200, #c1f0f5);
    --t-sys-color-background-accent-teal-subtle: var(--t-ref-palette-teal-400, #60c6d2);
    --t-sys-color-background-accent-teal-bolder: var(--t-ref-palette-teal-700, #1d7f8c);
    --t-sys-color-background-accent-blue-subtlest: var(--t-ref-palette-blue-100, #e9f2ff);
    --t-sys-color-background-accent-blue-subtler: var(--t-ref-palette-blue-200, #cce0ff);
    --t-sys-color-background-accent-blue-subtle: var(--t-ref-palette-blue-400, #579dff);
    --t-sys-color-background-accent-blue-bolder: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-background-accent-purple-subtlest: var(--t-ref-palette-purple-100, #f3f0ff);
    --t-sys-color-background-accent-purple-subtler: var(--t-ref-palette-purple-200, #dfd8fd);
    --t-sys-color-background-accent-purple-subtle: var(--t-ref-palette-purple-400, #9f8fef);
    --t-sys-color-background-accent-purple-bolder: var(--t-ref-palette-purple-700, #6e5dc6);
    --t-sys-color-background-accent-magenta-subtlest: var(--t-ref-palette-magenta-100, #ffecf8);
    --t-sys-color-background-accent-magenta-subtler: var(--t-ref-palette-magenta-200, #fdd0ec);
    --t-sys-color-background-accent-magenta-subtle: var(--t-ref-palette-magenta-400, #e774bb);
    --t-sys-color-background-accent-magenta-bolder: var(--t-ref-palette-magenta-700, #ae4787);
    --t-sys-color-background-accent-gray-subtlest: var(--t-ref-palette-neutral-200, #f1f2f4);
    --t-sys-color-background-accent-gray-subtler: var(--t-ref-palette-neutral-300, #dcdfe4);
    --t-sys-color-background-accent-gray-subtle: var(--t-ref-palette-neutral-500, #8590a2);
    --t-sys-color-background-accent-gray-bolder: var(--t-ref-palette-neutral-700, #626f86);
    --t-sys-color-background-disabled: var(--t-ref-palette-neutral-100-a, rgb(9 30 66 / 3%));
    --t-sys-color-background-input: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-color-background-input-hovered: var(--t-ref-palette-neutral-100, #f7f8f9);
    --t-sys-color-background-input-pressed: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-color-background-inverse-subtle: rgb(0 0 0 / 16.1%);
    --t-sys-color-background-inverse-subtle-hovered: rgb(0 0 0 / 23.9%);
    --t-sys-color-background-inverse-subtle-pressed: rgb(0 0 0 / 32.2%);
    --t-sys-color-background-neutral: var(--t-ref-palette-neutral-200-a, rgb(9 30 66 / 6%));
    --t-sys-color-background-neutral-hovered: var(--t-ref-palette-neutral-300-a, rgb(9 30 66 / 14%));
    --t-sys-color-background-neutral-pressed: var(--t-ref-palette-neutral-400-a, rgb(9 30 66 / 31%));
    --t-sys-color-background-neutral-subtle: transparent;
    --t-sys-color-background-neutral-subtle-hovered: var(--t-ref-palette-neutral-200-a, rgb(9 30 66 / 6%));
    --t-sys-color-background-neutral-subtle-pressed: var(--t-ref-palette-neutral-300-a, rgb(9 30 66 / 14%));
    --t-sys-color-background-neutral-bold: var(--t-ref-palette-neutral-800, #44546f);
    --t-sys-color-background-neutral-bold-hovered: var(--t-ref-palette-neutral-900, #2c3e5d);
    --t-sys-color-background-neutral-bold-pressed: var(--t-ref-palette-neutral-1000, #172b4d);
    --t-sys-color-background-selected: var(--t-ref-palette-blue-100, #e9f2ff);
    --t-sys-color-background-selected-hovered: var(--t-ref-palette-blue-200, #cce0ff);
    --t-sys-color-background-selected-pressed: var(--t-ref-palette-blue-300, #85b8ff);
    --t-sys-color-background-selected-bold: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-background-selected-bold-hovered: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-background-selected-bold-pressed: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-background-brand: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-background-brand-hovered: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-background-brand-pressed: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-background-brand-subtlest: var(--t-ref-palette-blue-100, #e9f2ff);
    --t-sys-color-background-brand-subtlest-hovered: var(--t-ref-palette-blue-200, #cce0ff);
    --t-sys-color-background-brand-subtlest-pressed: var(--t-ref-palette-blue-300, #85b8ff);
    --t-sys-color-background-brand-bold: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-background-brand-bold-hovered: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-background-brand-bold-pressed: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-background-brand-boldest: var(--t-ref-palette-blue-1000, #092957);
    --t-sys-color-background-brand-boldest-hovered: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-background-brand-boldest-pressed: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-background-danger: var(--t-ref-palette-red-100, #ffedeb);
    --t-sys-color-background-danger-hovered: var(--t-ref-palette-red-200, #ffd2cc);
    --t-sys-color-background-danger-pressed: var(--t-ref-palette-red-300, #ff9c8f);
    --t-sys-color-background-danger-bold: var(--t-ref-palette-red-700, #ca3521);
    --t-sys-color-background-danger-bold-hovered: var(--t-ref-palette-red-800, #ae2a19);
    --t-sys-color-background-danger-bold-pressed: var(--t-ref-palette-red-900, #601e16);
    --t-sys-color-background-warning: var(--t-ref-palette-yellow-100, #fff7d6);
    --t-sys-color-background-warning-hovered: var(--t-ref-palette-yellow-200, #f8e6a0);
    --t-sys-color-background-warning-pressed: var(--t-ref-palette-yellow-300, #f5cd47);
    --t-sys-color-background-warning-bold: var(--t-ref-palette-yellow-400, #e2b203);
    --t-sys-color-background-warning-bold-hovered: var(--t-ref-palette-yellow-500, #cf9f02);
    --t-sys-color-background-warning-bold-pressed: var(--t-ref-palette-yellow-600, #b38600);
    --t-sys-color-background-success: var(--t-ref-palette-green-100, #dffcf0);
    --t-sys-color-background-success-hovered: var(--t-ref-palette-green-200, #baf3db);
    --t-sys-color-background-success-pressed: var(--t-ref-palette-green-300, #7ee2b8);
    --t-sys-color-background-success-bold: var(--t-ref-palette-green-700, #1f845a);
    --t-sys-color-background-success-bold-hovered: var(--t-ref-palette-green-800, #216e4e);
    --t-sys-color-background-success-bold-pressed: var(--t-ref-palette-green-900, #164b35);
    --t-sys-color-background-discovery: var(--t-ref-palette-purple-100, #f3f0ff);
    --t-sys-color-background-discovery-hovered: var(--t-ref-palette-purple-200, #dfd8fd);
    --t-sys-color-background-discovery-pressed: var(--t-ref-palette-purple-300, #b8acf6);
    --t-sys-color-background-discovery-bold: var(--t-ref-palette-purple-700, #6e5dc6);
    --t-sys-color-background-discovery-bold-hovered: var(--t-ref-palette-purple-800, #5e4db2);
    --t-sys-color-background-discovery-bold-pressed: var(--t-ref-palette-purple-900, #352c63);
    --t-sys-color-background-information: var(--t-ref-palette-blue-100, #e9f2ff);
    --t-sys-color-background-information-hovered: var(--t-ref-palette-blue-200, #cce0ff);
    --t-sys-color-background-information-pressed: var(--t-ref-palette-blue-300, #85b8ff);
    --t-sys-color-background-information-bold: var(--t-ref-palette-blue-700, #0c66e4);
    --t-sys-color-background-information-bold-hovered: var(--t-ref-palette-blue-800, #0055cc);
    --t-sys-color-background-information-bold-pressed: var(--t-ref-palette-blue-900, #09326c);
    --t-sys-color-blanket: var(--t-ref-palette-neutral-500-a, rgb(9 30 66 / 49%));
    --t-sys-color-blanket-selected: rgb(56 139 255 / 7.8%);
    --t-sys-color-blanket-danger: rgb(239 92 72 / 7.8%);
    --t-sys-color-interaction-hovered: rgb(0 0 0 / 16.1%);
    --t-sys-color-interaction-pressed: rgb(0 0 0 / 32.2%);
    --t-sys-color-skeleton: var(--t-ref-palette-neutral-200-a, rgb(9 30 66 / 6%));
    --t-sys-color-skeleton-subtle: var(--t-ref-palette-neutral-100-a, rgb(9 30 66 / 3%));
    --t-sys-elevation-surface: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-elevation-surface-hovered: var(--t-ref-palette-neutral-200, #f1f2f4);
    --t-sys-elevation-surface-pressed: var(--t-ref-palette-neutral-300, #dcdfe4);
    --t-sys-elevation-surface-overlay: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-elevation-surface-overlay-hovered: var(--t-ref-palette-neutral-200, #f1f2f4);
    --t-sys-elevation-surface-overlay-pressed: var(--t-ref-palette-neutral-300, #dcdfe4);
    --t-sys-elevation-surface-raised: var(--t-ref-palette-neutral-0, #ffffff);
    --t-sys-elevation-surface-raised-hovered: var(--t-ref-palette-neutral-200, #f1f2f4);
    --t-sys-elevation-surface-raised-pressed: var(--t-ref-palette-neutral-300, #dcdfe4);
    --t-sys-elevation-surface-sunken: var(--t-ref-palette-neutral-100, #f7f8f9);
    --t-sys-elevation-shadow-overflow: 0px 0px 8px rgb(9 30 66 / 16%), 0px 0px 1px rgb(9 30 66 / 12%);
    --t-sys-elevation-shadow-overflow-perimeter: rgb(9 30 66 / 12.2%);
    --t-sys-elevation-shadow-overflow-spread: rgb(9 30 66 / 16.1%);
    --t-sys-elevation-shadow-overlay: 0px 8px 12px rgb(9 30 66 / 15%), 0px 0px 1px rgb(9 30 66 / 31%);
    --t-sys-elevation-shadow-raised: 0px 1px 1px rgb(9 30 66 / 25%), 0px 0px 1px rgb(9 30 66 / 31%);
    --t-sys-opacity-disabled: 0.4;
    --t-sys-opacity-loading: 0.2;
    --t-sys-opacity-transparent: transparent;

    color-scheme: light;
  }
}