@layer themes {
  .t-main-theme {
    /* light */

    /* text */
    --t-sys-color-text-light: var(--t-ref-color-neutral-1000);

    /* lime */
    --t-sys-color-text-accent-lime-light: var(--t-ref-color-lime-800);
    --t-sys-color-text-accent-lime-bolder-light: var(--t-ref-color-lime-900);

    /* red */
    --t-sys-color-text-accent-red-light: var(--t-ref-color-red-800);
    --t-sys-color-text-accent-red-bolder-light: var(--t-ref-color-red-900);

    /* orange */
    --t-sys-color-text-accent-orange-light: var(--t-ref-color-orange-800);
    --t-sys-color-text-accent-orange-bolder-light: var(--t-ref-color-orange-900);

    /* yellow */
    --t-sys-color-text-accent-yellow-light: var(--t-ref-color-yellow-800);
    --t-sys-color-text-accent-yellow-bolder-light: var(--t-ref-color-yellow-900);

    /* green */
    --t-sys-color-text-accent-green-light: var(--t-ref-color-green-800);
    --t-sys-color-text-accent-green-bolder-light: var(--t-ref-color-green-900);

    /* teal */
    --t-sys-color-text-accent-teal-light: var(--t-ref-color-teal-800);
    --t-sys-color-text-accent-teal-bolder-light: var(--t-ref-color-teal-900);

    /* blue */
    --t-sys-color-text-accent-blue-light: var(--t-ref-color-blue-800);
    --t-sys-color-text-accent-blue-bolder-light: var(--t-ref-color-blue-900);

    /* purple */
    --t-sys-color-text-accent-purple-light: var(--t-ref-color-purple-800);
    --t-sys-color-text-accent-purple-bolder-light: var(--t-ref-color-purple-900);

    /* magenta */
    --t-sys-color-text-accent-magenta-light: var(--t-ref-color-magenta-800);
    --t-sys-color-text-accent-magenta-bolder-light: var(--t-ref-color-magenta-900);

    /* gray */
    --t-sys-color-text-accent-gray-light: var(--t-ref-color-neutral-800);
    --t-sys-color-text-accent-gray-bolder-light: var(--t-ref-color-neutral-1100);

    /* disabled */
    --t-sys-color-text-disabled-light: var(--t-ref-color-neutral-400-a);

    /* inverse */
    --t-sys-color-text-inverse-light: var(--t-ref-color-neutral-0);

    /* selected */
    --t-sys-color-text-selected-light: var(--t-ref-color-blue-700);

    /* brand */
    --t-sys-color-text-brand-light: var(--t-ref-color-blue-700);

    /* danger */
    --t-sys-color-text-danger-light: var(--t-ref-color-red-800);

    /* warning */
    --t-sys-color-text-warning-light: var(--t-ref-color-orange-800);
    --t-sys-color-text-warning-inverse-light: var(--t-ref-color-neutral-1000);

    /* success */
    --t-sys-color-text-success-light: var(--t-ref-color-green-800);

    /* discovery */
    --t-sys-color-text-discovery-light: var(--t-ref-color-purple-800);

    /* information */
    --t-sys-color-text-information-light: var(--t-ref-color-blue-800);

    /* text */
    --t-sys-color-text-subtlest-light: var(--t-ref-color-neutral-700);
    --t-sys-color-text-subtle-light: var(--t-ref-color-neutral-800);
  }
}
