@layer themes {
  .t-main-theme {
    --t-ref-space-0: 0;
    --t-ref-space-025: 2px;
    --t-ref-space-050: 4px;
    --t-ref-space-075: 6px;
    --t-ref-space-100: 8px;
    --t-ref-space-150: 12px;
    --t-ref-space-200: 16px;
    --t-ref-space-250: 20px;
    --t-ref-space-300: 24px;
    --t-ref-space-400: 32px;
    --t-ref-space-500: 40px;
    --t-ref-space-600: 48px;
    --t-ref-space-800: 64px;
    --t-ref-space-1000: 80px;
  }
}
