@layer themes {
  @media (prefers-color-scheme: light) {
    .t-main-theme,
    .t-main-theme--light {
      /* light */
      --t-sys-color-interaction-hovered: var(--t-sys-color-interaction-hovered-light);
      --t-sys-color-interaction-pressed: var(--t-sys-color-interaction-pressed-light);
    }

    .t-main-theme--dark {
      /* dark */
      --t-sys-color-interaction-hovered: var(--t-sys-color-interaction-hovered-dark);
      --t-sys-color-interaction-pressed: var(--t-sys-color-interaction-pressed-dark);
    }
  }
}
