@layer themes {
  .t-main-theme {
    --t-ref-font-line-height-100: 16px;
    --t-ref-font-line-height-200: 20px;
    --t-ref-font-line-height-300: 24px;
    --t-ref-font-line-height-400: 28px;
    --t-ref-font-line-height-500: 32px;
    --t-ref-font-line-height-600: 40px;
  }
}
