@layer themes {
  .t-main-theme {
    --t-ref-font-size-050: 11px;
    --t-ref-font-size-075: 12px;
    --t-ref-font-size-100: 14px;
    --t-ref-font-size-200: 16px;
    --t-ref-font-size-300: 20px;
    --t-ref-font-size-400: 24px;
    --t-ref-font-size-500: 29px;
    --t-ref-font-size-600: 35px;
  }
}
