@layer themes {
  @media (prefers-color-scheme: dark) {
    .t-main-theme,
    .t-main-theme--dark {
      /* dark */

      /* lime */
      --t-sys-color-background-accent-lime-subtlest: var(--t-sys-color-background-accent-lime-subtlest-dark);
      --t-sys-color-background-accent-lime-subtler: var(--t-sys-color-background-accent-lime-subtler-dark);
      --t-sys-color-background-accent-lime-subtle: var(--t-sys-color-background-accent-lime-subtle-dark);
      --t-sys-color-background-accent-lime-bolder: var(--t-sys-color-background-accent-lime-bolder-dark);

      /* red */
      --t-sys-color-background-accent-red-subtlest: var(--t-sys-color-background-accent-red-subtlest-dark);
      --t-sys-color-background-accent-red-subtler: var(--t-sys-color-background-accent-red-subtler-dark);
      --t-sys-color-background-accent-red-subtle: var(--t-sys-color-background-accent-red-subtle-dark);
      --t-sys-color-background-accent-red-bolder: var(--t-sys-color-background-accent-red-bolder-dark);

      /* orange */
      --t-sys-color-background-accent-orange-subtlest: var(--t-sys-color-background-accent-orange-subtlest-dark);
      --t-sys-color-background-accent-orange-subtler: var(--t-sys-color-background-accent-orange-subtler-dark);
      --t-sys-color-background-accent-orange-subtle: var(--t-sys-color-background-accent-orange-subtle-dark);
      --t-sys-color-background-accent-orange-bolder: var(--t-sys-color-background-accent-orange-bolder-dark);

      /* yellow */
      --t-sys-color-background-accent-yellow-subtlest: var(--t-sys-color-background-accent-yellow-subtlest-dark);
      --t-sys-color-background-accent-yellow-subtler: var(--t-sys-color-background-accent-yellow-subtler-dark);
      --t-sys-color-background-accent-yellow-subtle: var(--t-sys-color-background-accent-yellow-subtle-dark);
      --t-sys-color-background-accent-yellow-bolder: var(--t-sys-color-background-accent-yellow-bolder-dark);

      /* green */
      --t-sys-color-background-accent-green-subtlest: var(--t-sys-color-background-accent-green-subtlest-dark);
      --t-sys-color-background-accent-green-subtler: var(--t-sys-color-background-accent-green-subtler-dark);
      --t-sys-color-background-accent-green-subtle: var(--t-sys-color-background-accent-green-subtle-dark);
      --t-sys-color-background-accent-green-bolder: var(--t-sys-color-background-accent-green-bolder-dark);

      /* teal */
      --t-sys-color-background-accent-teal-subtlest: var(--t-sys-color-background-accent-teal-subtlest-dark);
      --t-sys-color-background-accent-teal-subtler: var(--t-sys-color-background-accent-teal-subtler-dark);
      --t-sys-color-background-accent-teal-subtle: var(--t-sys-color-background-accent-teal-subtle-dark);
      --t-sys-color-background-accent-teal-bolder: var(--t-sys-color-background-accent-teal-bolder-dark);

      /* blue */
      --t-sys-color-background-accent-blue-subtlest: var(--t-sys-color-background-accent-blue-subtlest-dark);
      --t-sys-color-background-accent-blue-subtler: var(--t-sys-color-background-accent-blue-subtler-dark);
      --t-sys-color-background-accent-blue-subtle: var(--t-sys-color-background-accent-blue-subtle-dark);
      --t-sys-color-background-accent-blue-bolder: var(--t-sys-color-background-accent-blue-bolder-dark);

      /* purple */
      --t-sys-color-background-accent-purple-subtlest: var(--t-sys-color-background-accent-purple-subtlest-dark);
      --t-sys-color-background-accent-purple-subtler: var(--t-sys-color-background-accent-purple-subtler-dark);
      --t-sys-color-background-accent-purple-subtle: var(--t-sys-color-background-accent-purple-subtle-dark);
      --t-sys-color-background-accent-purple-bolder: var(--t-sys-color-background-accent-purple-bolder-dark);

      /* magenta */
      --t-sys-color-background-accent-magenta-subtlest: var(--t-sys-color-background-accent-magenta-subtlest-dark);
      --t-sys-color-background-accent-magenta-subtler: var(--t-sys-color-background-accent-magenta-subtler-dark);
      --t-sys-color-background-accent-magenta-subtle: var(--t-sys-color-background-accent-magenta-subtle-dark);
      --t-sys-color-background-accent-magenta-bolder: var(--t-sys-color-background-accent-magenta-bolder-dark);

      /* gray */
      --t-sys-color-background-accent-gray-subtlest: var(--t-sys-color-background-accent-gray-subtlest-dark);
      --t-sys-color-background-accent-gray-subtler: var(--t-sys-color-background-accent-gray-subtler-dark);
      --t-sys-color-background-accent-gray-subtle: var(--t-sys-color-background-accent-gray-subtle-dark);
      --t-sys-color-background-accent-gray-bolder: var(--t-sys-color-background-accent-gray-bolder-dark);

      /* disabled */
      --t-sys-color-background-disabled: var(--t-sys-color-background-disabled-dark);

      /* input */
      --t-sys-color-background-input: var(--t-sys-color-background-input-dark);
      --t-sys-color-background-input-hovered: var(--t-sys-color-background-input-hovered-dark);
      --t-sys-color-background-input-pressed: var(--t-sys-color-background-input-pressed-dark);

      /* inverse */
      --t-sys-color-background-inverse-subtle: var(--t-sys-color-background-inverse-subtle-dark);
      --t-sys-color-background-inverse-subtle-hovered: var(--t-sys-color-background-inverse-subtle-hovered-dark);
      --t-sys-color-background-inverse-subtle-pressed: var(--t-sys-color-background-inverse-subtle-pressed-dark);

      /* neutral */
      --t-sys-color-background-neutral: var(--t-sys-color-background-neutral-dark);
      --t-sys-color-background-neutral-hovered: var(--t-sys-color-background-neutral-hovered-dark);
      --t-sys-color-background-neutral-pressed: var(--t-sys-color-background-neutral-pressed-dark);

      /* neutral subtle */
      --t-sys-color-background-neutral-subtle: var(--t-sys-color-background-neutral-subtle-dark);
      --t-sys-color-background-neutral-subtle-hovered: var(--t-sys-color-background-neutral-subtle-hovered-dark);
      --t-sys-color-background-neutral-subtle-pressed: var(--t-sys-color-background-neutral-subtle-pressed-dark);

      /* neutral bold */
      --t-sys-color-background-neutral-bold: var(--t-sys-color-background-neutral-bold-dark);
      --t-sys-color-background-neutral-bold-hovered: var(--t-sys-color-background-neutral-bold-hovered-dark);
      --t-sys-color-background-neutral-bold-pressed: var(--t-sys-color-background-neutral-bold-pressed-dark);

      /* selected */
      --t-sys-color-background-selected: var(--t-sys-color-background-selected-dark);
      --t-sys-color-background-selected-hovered: var(--t-sys-color-background-selected-hovered-dark);
      --t-sys-color-background-selected-pressed: var(--t-sys-color-background-selected-pressed-dark);

      /* selected bold */
      --t-sys-color-background-selected-bold: var(--t-sys-color-background-selected-bold-dark);
      --t-sys-color-background-selected-bold-hovered: var(--t-sys-color-background-selected-bold-hovered-dark);
      --t-sys-color-background-selected-bold-pressed: var(--t-sys-color-background-selected-bold-pressed-dark);

      /* brand */

      --t-sys-color-background-brand-subtlest: var(--t-sys-color-background-brand-subtlest-dark);
      --t-sys-color-background-brand-subtlest-hovered: var(--t-sys-color-background-brand-subtlest-hovered-dark);
      --t-sys-color-background-brand-subtlest-pressed: var(--t-sys-color-background-brand-subtlest-pressed-dark);

      /* brand bold */
      --t-sys-color-background-brand-bold: var(--t-sys-color-background-brand-bold-dark);
      --t-sys-color-background-brand-bold-hovered: var(--t-sys-color-background-brand-bold-hovered-dark);
      --t-sys-color-background-brand-bold-pressed: var(--t-sys-color-background-brand-bold-pressed-dark);

      /* brand boldest */

      --t-sys-color-background-brand-boldest: var(--t-sys-color-background-brand-boldest-dark);
      --t-sys-color-background-brand-boldest-hovered: var(--t-sys-color-background-brand-boldest-hovered-dark);
      --t-sys-color-background-brand-boldest-pressed: var(--t-sys-color-background-brand-boldest-pressed-dark);

      /* danger */
      --t-sys-color-background-danger: var(--t-sys-color-background-danger-dark);
      --t-sys-color-background-danger-hovered: var(--t-sys-color-background-danger-hovered-dark);
      --t-sys-color-background-danger-pressed: var(--t-sys-color-background-danger-pressed-dark);

      /* danger bold */
      --t-sys-color-background-danger-bold: var(--t-sys-color-background-danger-bold-dark);
      --t-sys-color-background-danger-bold-hovered: var(--t-sys-color-background-danger-bold-hovered-dark);
      --t-sys-color-background-danger-bold-pressed: var(--t-sys-color-background-danger-bold-pressed-dark);

      /* warning */
      --t-sys-color-background-warning: var(--t-sys-color-background-warning-dark);
      --t-sys-color-background-warning-hovered: var(--t-sys-color-background-warning-hovered-dark);
      --t-sys-color-background-warning-pressed: var(--t-sys-color-background-warning-pressed-dark);

      /* warning bold */
      --t-sys-color-background-warning-bold: var(--t-sys-color-background-warning-bold-dark);
      --t-sys-color-background-warning-bold-hovered: var(--t-sys-color-background-warning-bold-hovered-dark);
      --t-sys-color-background-warning-bold-pressed: var(--t-sys-color-background-warning-bold-pressed-dark);

      /* success */
      --t-sys-color-background-success: var(--t-sys-color-background-success-dark);
      --t-sys-color-background-success-hovered: var(--t-sys-color-background-success-hovered-dark);
      --t-sys-color-background-success-pressed: var(--t-sys-color-background-success-pressed-dark);

      /* success bold */
      --t-sys-color-background-success-bold: var(--t-sys-color-background-success-bold-dark);
      --t-sys-color-background-success-bold-hovered: var(--t-sys-color-background-success-bold-hovered-dark);
      --t-sys-color-background-success-bold-pressed: var(--t-sys-color-background-success-bold-pressed-dark);

      /* discovery */
      --t-sys-color-background-discovery: var(--t-sys-color-background-discovery-dark);
      --t-sys-color-background-discovery-hovered: var(--t-sys-color-background-discovery-hovered-dark);
      --t-sys-color-background-discovery-pressed: var(--t-sys-color-background-discovery-pressed-dark);

      /* discovery bold */
      --t-sys-color-background-discovery-bold: var(--t-sys-color-background-discovery-bold-dark);
      --t-sys-color-background-discovery-bold-hovered: var(--t-sys-color-background-discovery-bold-hovered-dark);
      --t-sys-color-background-discovery-bold-pressed: var(--t-sys-color-background-discovery-bold-pressed-dark);

      /* information */
      --t-sys-color-background-information: var(--t-sys-color-background-information-dark);
      --t-sys-color-background-information-hovered: var(--t-sys-color-background-information-hovered-dark);
      --t-sys-color-background-information-pressed: var(--t-sys-color-background-information-pressed-dark);

      /* information  bold */
      --t-sys-color-background-information-bold: var(--t-sys-color-background-information-bold-dark);
      --t-sys-color-background-information-bold-hovered: var(--t-sys-color-background-information-bold-hovered-dark);
      --t-sys-color-background-information-bold-pressed: var(--t-sys-color-background-information-bold-pressed-dark);
    }

    .t-main-theme--light {
      /* light */

      /* lime */
      --t-sys-color-background-accent-lime-subtlest: var(--t-sys-color-background-accent-lime-subtlest-light);
      --t-sys-color-background-accent-lime-subtler: var(--t-sys-color-background-accent-lime-subtler-light);
      --t-sys-color-background-accent-lime-subtle: var(--t-sys-color-background-accent-lime-subtle-light);
      --t-sys-color-background-accent-lime-bolder: var(--t-sys-color-background-accent-lime-bolder-light);

      /* red */
      --t-sys-color-background-accent-red-subtlest: var(--t-sys-color-background-accent-red-subtlest-light);
      --t-sys-color-background-accent-red-subtler: var(--t-sys-color-background-accent-red-subtler-light);
      --t-sys-color-background-accent-red-subtle: var(--t-sys-color-background-accent-red-subtle-light);
      --t-sys-color-background-accent-red-bolder: var(--t-sys-color-background-accent-red-bolder-light);

      /* orange */
      --t-sys-color-background-accent-orange-subtlest: var(--t-sys-color-background-accent-orange-subtlest-light);
      --t-sys-color-background-accent-orange-subtler: var(--t-sys-color-background-accent-orange-subtler-light);
      --t-sys-color-background-accent-orange-subtle: var(--t-sys-color-background-accent-orange-subtle-light);
      --t-sys-color-background-accent-orange-bolder: var(--t-sys-color-background-accent-orange-bolder-light);

      /* yellow */
      --t-sys-color-background-accent-yellow-subtlest: var(--t-sys-color-background-accent-yellow-subtlest-light);
      --t-sys-color-background-accent-yellow-subtler: var(--t-sys-color-background-accent-yellow-subtler-light);
      --t-sys-color-background-accent-yellow-subtle: var(--t-sys-color-background-accent-yellow-subtle-light);
      --t-sys-color-background-accent-yellow-bolder: var(--t-sys-color-background-accent-yellow-bolder-light);

      /* green */
      --t-sys-color-background-accent-green-subtlest: var(--t-sys-color-background-accent-green-subtlest-light);
      --t-sys-color-background-accent-green-subtler: var(--t-sys-color-background-accent-green-subtler-light);
      --t-sys-color-background-accent-green-subtle: var(--t-sys-color-background-accent-green-subtle-light);
      --t-sys-color-background-accent-green-bolder: var(--t-sys-color-background-accent-green-bolder-light);

      /* teal */
      --t-sys-color-background-accent-teal-subtlest: var(--t-sys-color-background-accent-teal-subtlest-light);
      --t-sys-color-background-accent-teal-subtler: var(--t-sys-color-background-accent-teal-subtler-light);
      --t-sys-color-background-accent-teal-subtle: var(--t-sys-color-background-accent-teal-subtle-light);
      --t-sys-color-background-accent-teal-bolder: var(--t-sys-color-background-accent-teal-bolder-light);

      /* blue */
      --t-sys-color-background-accent-blue-subtlest: var(--t-sys-color-background-accent-blue-subtlest-light);
      --t-sys-color-background-accent-blue-subtler: var(--t-sys-color-background-accent-blue-subtler-light);
      --t-sys-color-background-accent-blue-subtle: var(--t-sys-color-background-accent-blue-subtle-light);
      --t-sys-color-background-accent-blue-bolder: var(--t-sys-color-background-accent-blue-bolder-light);

      /* purple */
      --t-sys-color-background-accent-purple-subtlest: var(--t-sys-color-background-accent-purple-subtlest-light);
      --t-sys-color-background-accent-purple-subtler: var(--t-sys-color-background-accent-purple-subtler-light);
      --t-sys-color-background-accent-purple-subtle: var(--t-sys-color-background-accent-purple-subtle-light);
      --t-sys-color-background-accent-purple-bolder: var(--t-sys-color-background-accent-purple-bolder-light);

      /* magenta */
      --t-sys-color-background-accent-magenta-subtlest: var(--t-sys-color-background-accent-magenta-subtlest-light);
      --t-sys-color-background-accent-magenta-subtler: var(--t-sys-color-background-accent-magenta-subtler-light);
      --t-sys-color-background-accent-magenta-subtle: var(--t-sys-color-background-accent-magenta-subtle-light);
      --t-sys-color-background-accent-magenta-bolder: var(--t-sys-color-background-accent-magenta-bolder-light);

      /* gray */
      --t-sys-color-background-accent-gray-subtlest: var(--t-sys-color-background-accent-gray-subtlest-light);
      --t-sys-color-background-accent-gray-subtler: var(--t-sys-color-background-accent-gray-subtler-light);
      --t-sys-color-background-accent-gray-subtle: var(--t-sys-color-background-accent-gray-subtle-light);
      --t-sys-color-background-accent-gray-bolder: var(--t-sys-color-background-accent-gray-bolder-light);

      /* disabled */
      --t-sys-color-background-disabled: var(--t-sys-color-background-disabled-light);

      /* input */
      --t-sys-color-background-input: var(--t-sys-color-background-input-light);
      --t-sys-color-background-input-hovered: var(--t-sys-color-background-input-hovered-light);
      --t-sys-color-background-input-pressed: var(--t-sys-color-background-input-pressed-light);

      /* inverse */
      --t-sys-color-background-inverse-subtle: var(--t-sys-color-background-inverse-subtle-light);
      --t-sys-color-background-inverse-subtle-hovered: var(--t-sys-color-background-inverse-subtle-hovered-light);
      --t-sys-color-background-inverse-subtle-pressed: var(--t-sys-color-background-inverse-subtle-pressed-light);

      /* neutral */
      --t-sys-color-background-neutral: var(--t-sys-color-background-neutral-light);
      --t-sys-color-background-neutral-hovered: var(--t-sys-color-background-neutral-hovered-light);
      --t-sys-color-background-neutral-pressed: var(--t-sys-color-background-neutral-pressed-light);

      /* neutral subtle */
      --t-sys-color-background-neutral-subtle: var(--t-sys-color-background-neutral-subtle-light);
      --t-sys-color-background-neutral-subtle-hovered: var(--t-sys-color-background-neutral-subtle-hovered-light);
      --t-sys-color-background-neutral-subtle-pressed: var(--t-sys-color-background-neutral-subtle-pressed-light);

      /* neutral bold */
      --t-sys-color-background-neutral-bold: var(--t-sys-color-background-neutral-bold-light);
      --t-sys-color-background-neutral-bold-hovered: var(--t-sys-color-background-neutral-bold-hovered-light);
      --t-sys-color-background-neutral-bold-pressed: var(--t-sys-color-background-neutral-bold-pressed-light);

      /* selected */
      --t-sys-color-background-selected: var(--t-sys-color-background-selected-light);
      --t-sys-color-background-selected-hovered: var(--t-sys-color-background-selected-hovered-light);
      --t-sys-color-background-selected-pressed: var(--t-sys-color-background-selected-pressed-light);

      /* selected bold */
      --t-sys-color-background-selected-bold: var(--t-sys-color-background-selected-bold-light);
      --t-sys-color-background-selected-bold-hovered: var(--t-sys-color-background-selected-bold-hovered-light);
      --t-sys-color-background-selected-bold-pressed: var(--t-sys-color-background-selected-bold-pressed-light);

      /* brand */

      --t-sys-color-background-brand-subtlest: var(--t-sys-color-background-brand-subtlest-light);
      --t-sys-color-background-brand-subtlest-hovered: var(--t-sys-color-background-brand-subtlest-hovered-light);
      --t-sys-color-background-brand-subtlest-pressed: var(--t-sys-color-background-brand-subtlest-pressed-light);

      /* brand bold */
      --t-sys-color-background-brand-bold: var(--t-sys-color-background-brand-bold-light);
      --t-sys-color-background-brand-bold-hovered: var(--t-sys-color-background-brand-bold-hovered-light);
      --t-sys-color-background-brand-bold-pressed: var(--t-sys-color-background-brand-bold-pressed-light);

      /* brand boldest */

      --t-sys-color-background-brand-boldest: var(--t-sys-color-background-brand-boldest-light);
      --t-sys-color-background-brand-boldest-hovered: var(--t-sys-color-background-brand-boldest-hovered-light);
      --t-sys-color-background-brand-boldest-pressed: var(--t-sys-color-background-brand-boldest-pressed-light);

      /* danger */
      --t-sys-color-background-danger: var(--t-sys-color-background-danger-light);
      --t-sys-color-background-danger-hovered: var(--t-sys-color-background-danger-hovered-light);
      --t-sys-color-background-danger-pressed: var(--t-sys-color-background-danger-pressed-light);

      /* danger bold */
      --t-sys-color-background-danger-bold: var(--t-sys-color-background-danger-bold-light);
      --t-sys-color-background-danger-bold-hovered: var(--t-sys-color-background-danger-bold-hovered-light);
      --t-sys-color-background-danger-bold-pressed: var(--t-sys-color-background-danger-bold-pressed-light);

      /* warning */
      --t-sys-color-background-warning: var(--t-sys-color-background-warning-light);
      --t-sys-color-background-warning-hovered: var(--t-sys-color-background-warning-hovered-light);
      --t-sys-color-background-warning-pressed: var(--t-sys-color-background-warning-pressed-light);

      /* warning bold */
      --t-sys-color-background-warning-bold: var(--t-sys-color-background-warning-bold-light);
      --t-sys-color-background-warning-bold-hovered: var(--t-sys-color-background-warning-bold-hovered-light);
      --t-sys-color-background-warning-bold-pressed: var(--t-sys-color-background-warning-bold-pressed-light);

      /* success */
      --t-sys-color-background-success: var(--t-sys-color-background-success-light);
      --t-sys-color-background-success-hovered: var(--t-sys-color-background-success-hovered-light);
      --t-sys-color-background-success-pressed: var(--t-sys-color-background-success-pressed-light);

      /* success bold */
      --t-sys-color-background-success-bold: var(--t-sys-color-background-success-bold-light);
      --t-sys-color-background-success-bold-hovered: var(--t-sys-color-background-success-bold-hovered-light);
      --t-sys-color-background-success-bold-pressed: var(--t-sys-color-background-success-bold-pressed-light);

      /* discovery */
      --t-sys-color-background-discovery: var(--t-sys-color-background-discovery-light);
      --t-sys-color-background-discovery-hovered: var(--t-sys-color-background-discovery-hovered-light);
      --t-sys-color-background-discovery-pressed: var(--t-sys-color-background-discovery-pressed-light);

      /* discovery bold */
      --t-sys-color-background-discovery-bold: var(--t-sys-color-background-discovery-bold-light);
      --t-sys-color-background-discovery-bold-hovered: var(--t-sys-color-background-discovery-bold-hovered-light);
      --t-sys-color-background-discovery-bold-pressed: var(--t-sys-color-background-discovery-bold-pressed-light);

      /* information */
      --t-sys-color-background-information: var(--t-sys-color-background-information-light);
      --t-sys-color-background-information-hovered: var(--t-sys-color-background-information-hovered-light);
      --t-sys-color-background-information-pressed: var(--t-sys-color-background-information-pressed-light);

      /* information  bold */
      --t-sys-color-background-information-bold: var(--t-sys-color-background-information-bold-light);
      --t-sys-color-background-information-bold-hovered: var(--t-sys-color-background-information-bold-hovered-light);
      --t-sys-color-background-information-bold-pressed: var(--t-sys-color-background-information-bold-pressed-light);
    }
  }
}
