@layer themes {
  .t-main-theme {
    /* light *

    /* lime */
    --t-sys-color-background-accent-lime-subtlest-light: var(--t-ref-color-lime-100);
    --t-sys-color-background-accent-lime-subtler-light: var(--t-ref-color-lime-200);
    --t-sys-color-background-accent-lime-subtle-light: var(--t-ref-color-lime-400);
    --t-sys-color-background-accent-lime-bolder-light: var(--t-ref-color-lime-700);

    /* red */
    --t-sys-color-background-accent-red-subtlest-light: var(--t-ref-color-red-100);
    --t-sys-color-background-accent-red-subtler-light: var(--t-ref-color-red-200);
    --t-sys-color-background-accent-red-subtle-light: var(--t-ref-color-red-400);
    --t-sys-color-background-accent-red-bolder-light: var(--t-ref-color-red-700);

    /* orange */
    --t-sys-color-background-accent-orange-subtlest-light: var(--t-ref-color-orange-100);
    --t-sys-color-background-accent-orange-subtler-light: var(--t-ref-color-orange-200);
    --t-sys-color-background-accent-orange-subtle-light: var(--t-ref-color-orange-400);
    --t-sys-color-background-accent-orange-bolder-light: var(--t-ref-color-orange-700);

    /* yellow */
    --t-sys-color-background-accent-yellow-subtlest-light: var(--t-ref-color-yellow-100);
    --t-sys-color-background-accent-yellow-subtler-light: var(--t-ref-color-yellow-200);
    --t-sys-color-background-accent-yellow-subtle-light: var(--t-ref-color-yellow-400);
    --t-sys-color-background-accent-yellow-bolder-light: var(--t-ref-color-yellow-700);

    /* green */
    --t-sys-color-background-accent-green-subtlest-light: var(--t-ref-color-green-100);
    --t-sys-color-background-accent-green-subtler-light: var(--t-ref-color-green-200);
    --t-sys-color-background-accent-green-subtle-light: var(--t-ref-color-green-400);
    --t-sys-color-background-accent-green-bolder-light: var(--t-ref-color-green-700);

    /* teal */
    --t-sys-color-background-accent-teal-subtlest-light: var(--t-ref-color-teal-100);
    --t-sys-color-background-accent-teal-subtler-light: var(--t-ref-color-teal-200);
    --t-sys-color-background-accent-teal-subtle-light: var(--t-ref-color-teal-400);
    --t-sys-color-background-accent-teal-bolder-light: var(--t-ref-color-teal-700);

    /* blue */
    --t-sys-color-background-accent-blue-subtlest-light: var(--t-ref-color-blue-100);
    --t-sys-color-background-accent-blue-subtler-light: var(--t-ref-color-blue-200);
    --t-sys-color-background-accent-blue-subtle-light: var(--t-ref-color-blue-400);
    --t-sys-color-background-accent-blue-bolder-light: var(--t-ref-color-blue-700);

    /* purple */
    --t-sys-color-background-accent-purple-subtlest-light: var(--t-ref-color-purple-100);
    --t-sys-color-background-accent-purple-subtler-light: var(--t-ref-color-purple-200);
    --t-sys-color-background-accent-purple-subtle-light: var(--t-ref-color-purple-400);
    --t-sys-color-background-accent-purple-bolder-light: var(--t-ref-color-purple-700);

    /* magenta */
    --t-sys-color-background-accent-magenta-subtlest-light: var(--t-ref-color-magenta-100);
    --t-sys-color-background-accent-magenta-subtler-light: var(--t-ref-color-magenta-200);
    --t-sys-color-background-accent-magenta-subtle-light: var(--t-ref-color-magenta-400);
    --t-sys-color-background-accent-magenta-bolder-light: var(--t-ref-color-magenta-700);

    /* gray */
    --t-sys-color-background-accent-gray-subtlest-light: var(--t-ref-color-neutral-200);
    --t-sys-color-background-accent-gray-subtler-light: var(--t-ref-color-neutral-300);
    --t-sys-color-background-accent-gray-subtle-light: var(--t-ref-color-neutral-500);
    --t-sys-color-background-accent-gray-bolder-light: var(--t-ref-color-neutral-700);

    /* disabled */
    --t-sys-color-background-disabled-light: var(--t-ref-color-neutral-100-a);

    /* input */
    --t-sys-color-background-input-light: var(--t-ref-color-neutral-0);
    --t-sys-color-background-input-hovered-light: var(--t-ref-color-neutral-100);
    --t-sys-color-background-input-pressed-light: var(--t-ref-color-neutral-0);

    /* inverse */
    --t-sys-color-background-inverse-subtle-light: rgb(0 0 0 / 16.1%);
    --t-sys-color-background-inverse-subtle-hovered-light: rgb(0 0 0 / 23.9%);
    --t-sys-color-background-inverse-subtle-pressed-light: rgb(0 0 0 / 32.2%);

    /* neutral */
    --t-sys-color-background-neutral-light: var(--t-ref-color-neutral-200-a);
    --t-sys-color-background-neutral-hovered-light: var(--t-ref-color-neutral-300-a);
    --t-sys-color-background-neutral-pressed-light: var(--t-ref-color-neutral-400-a);

    /* neutral subtle */
    --t-sys-color-background-neutral-subtle-light: transparent;
    --t-sys-color-background-neutral-subtle-hovered-light: var(--t-ref-color-neutral-200-a);
    --t-sys-color-background-neutral-subtle-pressed-light: var(--t-ref-color-neutral-300-a);

    /* neutral bold */
    --t-sys-color-background-neutral-bold-light: var(--t-ref-color-neutral-800);
    --t-sys-color-background-neutral-bold-hovered-light: var(--t-ref-color-neutral-900);
    --t-sys-color-background-neutral-bold-pressed-light: var(--t-ref-color-neutral-1000);

    /* selected */
    --t-sys-color-background-selected-light: var(--t-ref-color-blue-100);
    --t-sys-color-background-selected-hovered-light: var(--t-ref-color-blue-200);
    --t-sys-color-background-selected-pressed-light: var(--t-ref-color-blue-300);

    /* selected bold */
    --t-sys-color-background-selected-bold-light: var(--t-ref-color-blue-700);
    --t-sys-color-background-selected-bold-hovered-light: var(--t-ref-color-blue-800);
    --t-sys-color-background-selected-bold-pressed-light: var(--t-ref-color-blue-900);

    /* brand */
    --t-sys-color-background-brand-subtlest-light: var(--t-ref-color-blue-100);
    --t-sys-color-background-brand-subtlest-hovered-light: var(--t-ref-color-blue-200);
    --t-sys-color-background-brand-subtlest-pressed-light: var(--t-ref-color-blue-300);

    /* brand bold */
    --t-sys-color-background-brand-bold-light: var(--t-ref-color-blue-700);
    --t-sys-color-background-brand-bold-hovered-light: var(--t-ref-color-blue-800);
    --t-sys-color-background-brand-bold-pressed-light: var(--t-ref-color-blue-900);

    /* brand boldest */
    --t-sys-color-background-brand-boldest-light: var(--t-ref-color-blue-1000);
    --t-sys-color-background-brand-boldest-hovered-light: var(--t-ref-color-blue-900);
    --t-sys-color-background-brand-boldest-pressed-light: var(--t-ref-color-blue-800);

    /* danger */
    --t-sys-color-background-danger-light: var(--t-ref-color-red-100);
    --t-sys-color-background-danger-hovered-light: var(--t-ref-color-red-200);
    --t-sys-color-background-danger-pressed-light: var(--t-ref-color-red-300);

    /* danger bold */
    --t-sys-color-background-danger-bold-light: var(--t-ref-color-red-700);
    --t-sys-color-background-danger-bold-hovered-light: var(--t-ref-color-red-800);
    --t-sys-color-background-danger-bold-pressed-light: var(--t-ref-color-red-900);

    /* warning */
    --t-sys-color-background-warning-light: var(--t-ref-color-yellow-100);
    --t-sys-color-background-warning-hovered-light: var(--t-ref-color-yellow-200);
    --t-sys-color-background-warning-pressed-light: var(--t-ref-color-yellow-300);

    /* warning bold */
    --t-sys-color-background-warning-bold-light: var(--t-ref-color-yellow-400);
    --t-sys-color-background-warning-bold-hovered-light: var(--t-ref-color-yellow-500);
    --t-sys-color-background-warning-bold-pressed-light: var(--t-ref-color-yellow-600);

    /* success */
    --t-sys-color-background-success-light: var(--t-ref-color-green-100);
    --t-sys-color-background-success-hovered-light: var(--t-ref-color-green-200);
    --t-sys-color-background-success-pressed-light: var(--t-ref-color-green-300);

    /* success bold */
    --t-sys-color-background-success-bold-light: var(--t-ref-color-green-700);
    --t-sys-color-background-success-bold-hovered-light: var(--t-ref-color-green-800);
    --t-sys-color-background-success-bold-pressed-light: var(--t-ref-color-green-900);

    /* discovery */
    --t-sys-color-background-discovery-light: var(--t-ref-color-purple-100);
    --t-sys-color-background-discovery-hovered-light: var(--t-ref-color-purple-200);
    --t-sys-color-background-discovery-pressed-light: var(--t-ref-color-purple-300);

    /* discovery bold */
    --t-sys-color-background-discovery-bold-light: var(--t-ref-color-purple-700);
    --t-sys-color-background-discovery-bold-hovered-light: var(--t-ref-color-purple-800);
    --t-sys-color-background-discovery-bold-pressed-light: var(--t-ref-color-purple-900);

    /* information */
    --t-sys-color-background-information-light: var(--t-ref-color-blue-100);
    --t-sys-color-background-information-hovered-light: var(--t-ref-color-blue-200);
    --t-sys-color-background-information-pressed-light: var(--t-ref-color-blue-300);

    /* information  bold */
    --t-sys-color-background-information-bold-light: var(--t-ref-color-blue-700);
    --t-sys-color-background-information-bold-hovered-light: var(--t-ref-color-blue-800);
    --t-sys-color-background-information-bold-pressed-light: var(--t-ref-color-blue-900);
  }
}
