@layer themes {
  @media (prefers-color-scheme: light) {
    .t-main-theme,
    .t-main-theme--light {
      /* light */
      --t-sys-color-skeleton: var(--t-sys-color-skeleton-light);
      --t-sys-color-skeleton-subtle: var(--t-sys-color-skeleton-subtle-light);
    }

    .t-main-theme--dark {
      /* dark */
      --t-sys-color-skeleton: var(--t-sys-color-skeleton-dark);
      --t-sys-color-skeleton-subtle: var(--t-sys-color-skeleton-subtle-dark);
    }
  }
}
