@layer themes {
  @media (prefers-color-scheme: dark) {
    .t-main-theme,
    .t-main-theme--dark {
      /* dark */
      --t-sys-color-border: var(--t-sys-color-border-dark);
      --t-sys-color-border-accent-lime: var(--t-sys-color-border-accent-lime-dark);
      --t-sys-color-border-accent-red: var(--t-sys-color-border-accent-red-dark);
      --t-sys-color-border-accent-orange: var(--t-sys-color-border-accent-orange-dark);
      --t-sys-color-border-accent-yellow: var(--t-sys-color-border-accent-yellow-dark);
      --t-sys-color-border-accent-green: var(--t-sys-color-border-accent-green-dark);
      --t-sys-color-border-accent-teal: var(--t-sys-color-border-accent-teal-dark);
      --t-sys-color-border-accent-blue: var(--t-sys-color-border-accent-blue-dark);
      --t-sys-color-border-accent-purple: var(--t-sys-color-border-accent-purple-dark);
      --t-sys-color-border-accent-magenta: var(--t-sys-color-border-accent-magenta-dark);
      --t-sys-color-border-accent-gray: var(--t-sys-color-border-accent-gray-dark);

      /* - */
      --t-sys-color-border-disabled: var(--t-sys-color-border-disabled-dark);
      --t-sys-color-border-focused: var(--t-sys-color-border-focused-dark);
      --t-sys-color-border-input: var(--t-sys-color-border-input-dark);
      --t-sys-color-border-inverse: var(--t-sys-color-border-inverse-dark);
      --t-sys-color-border-selected: var(--t-sys-color-border-selected-dark);
      --t-sys-color-border-brand: var(--t-sys-color-border-brand-dark);
      --t-sys-color-border-danger: var(--t-sys-color-border-danger-dark);
      --t-sys-color-border-warning: var(--t-sys-color-border-warning-dark);
      --t-sys-color-border-success: var(--t-sys-color-border-success-dark);
      --t-sys-color-border-discovery: var(--t-sys-color-border-discovery-dark);
      --t-sys-color-border-information: var(--t-sys-color-border-information-dark);
      --t-sys-color-border-bold: var(--t-sys-color-border-bold-dark);
    }

    .t-main-theme--light {
      /* light */
      --t-sys-color-border: var(--t-sys-color-border-light);
      --t-sys-color-border-accent-lime: var(--t-sys-color-border-accent-lime-light);
      --t-sys-color-border-accent-red: var(--t-sys-color-border-accent-red-light);
      --t-sys-color-border-accent-orange: var(--t-sys-color-border-accent-orange-light);
      --t-sys-color-border-accent-yellow: var(--t-sys-color-border-accent-yellow-light);
      --t-sys-color-border-accent-green: var(--t-sys-color-border-accent-green-light);
      --t-sys-color-border-accent-teal: var(--t-sys-color-border-accent-teal-light);
      --t-sys-color-border-accent-blue: var(--t-sys-color-border-accent-blue-light);
      --t-sys-color-border-accent-purple: var(--t-sys-color-border-accent-purple-light);
      --t-sys-color-border-accent-magenta: var(--t-sys-color-border-accent-magenta-light);
      --t-sys-color-border-accent-gray: var(--t-sys-color-border-accent-gray-light);

      /* - */
      --t-sys-color-border-disabled: var(--t-sys-color-border-disabled-light);
      --t-sys-color-border-focused: var(--t-sys-color-border-focused-light);
      --t-sys-color-border-input: var(--t-sys-color-border-input-light);
      --t-sys-color-border-inverse: var(--t-sys-color-border-inverse-light);
      --t-sys-color-border-selected: var(--t-sys-color-border-selected-light);
      --t-sys-color-border-brand: var(--t-sys-color-border-brand-light);
      --t-sys-color-border-danger: var(--t-sys-color-border-danger-light);
      --t-sys-color-border-warning: var(--t-sys-color-border-warning-light);
      --t-sys-color-border-success: var(--t-sys-color-border-success-light);
      --t-sys-color-border-discovery: var(--t-sys-color-border-discovery-light);
      --t-sys-color-border-information: var(--t-sys-color-border-information-light);
      --t-sys-color-border-bold: var(--t-sys-color-border-bold-light);
    }
  }
}
