@layer themes {
  .t-main-theme {
    /* light */
    --t-sys-color-border-light: var(--t-ref-color-neutral-300-a);
    --t-sys-color-border-accent-lime-light: var(--t-ref-color-lime-600);
    --t-sys-color-border-accent-red-light: var(--t-ref-color-red-600);
    --t-sys-color-border-accent-orange-light: var(--t-ref-color-orange-600);
    --t-sys-color-border-accent-yellow-light: var(--t-ref-color-yellow-600);
    --t-sys-color-border-accent-green-light: var(--t-ref-color-green-600);
    --t-sys-color-border-accent-teal-light: var(--t-ref-color-teal-600);
    --t-sys-color-border-accent-blue-light: var(--t-ref-color-blue-600);
    --t-sys-color-border-accent-purple-light: var(--t-ref-color-purple-600);
    --t-sys-color-border-accent-magenta-light: var(--t-ref-color-magenta-600);
    --t-sys-color-border-accent-gray-light: var(--t-ref-color-neutral-600);

    /* - */
    --t-sys-color-border-disabled-light: var(--t-ref-color-neutral-200-a);
    --t-sys-color-border-focused-light: var(--t-ref-color-blue-500);
    --t-sys-color-border-input-light: var(--t-ref-color-neutral-300-a);
    --t-sys-color-border-inverse-light: var(--t-ref-color-neutral-0);
    --t-sys-color-border-selected-light: var(--t-ref-color-blue-700);
    --t-sys-color-border-brand-light: var(--t-ref-color-blue-700);
    --t-sys-color-border-danger-light: var(--t-ref-color-red-600);
    --t-sys-color-border-warning-light: var(--t-ref-color-orange-600);
    --t-sys-color-border-success-light: var(--t-ref-color-green-600);
    --t-sys-color-border-discovery-light: var(--t-ref-color-purple-600);
    --t-sys-color-border-information-light: var(--t-ref-color-blue-600);
    --t-sys-color-border-bold-light: var(--t-ref-color-neutral-600);
  }
}
